## Задача 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [4]:
def fruits_sum(**kwargs):
    total_fruits = sum(kwargs.values())
    return f'Всего фруктов на складе: {total_fruits}'

In [5]:
fruits_sum (apples=15, oranges=10, bananas=40)

'Всего фруктов на складе: 65'

## Задача 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

In [19]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

In [22]:
def costs (a:list):
    costs_new=[]
    for i in a:
        if i > 0:
            costs_new.append(i)
    return (f'Всего затрат: {sum(costs_new)}')

costs(expenses)

'Всего затрат: 1425'

### Используйте list comprehensions

In [24]:
def costs (a:list):
    return (f'Всего затрат: {sum([i for i in a if i > 0 ])}')

costs(expenses)

'Всего затрат: 1425'

## Задача 3

Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача 3.1 

Найдите, какая выручка у компании в ноябре

In [25]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
costs = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [28]:
def month_nov (a: list, b: list) -> list:
    
    total_costs = []
    
    for i in range(len(a)-1):
        if '-11-' in a[i]:
            total_costs.append(b[i])
            
    return total_costs

month_nov(dates, costs)

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [29]:
sum (month_nov(dates, costs))

25098

### Используйте list comprehensions

In [30]:
def month_nov (a: list, b: list) -> list:
    
    total_costs = [b[i] for i in range(0, len(a)-1) if "-11" in a[i]]
    print(total_costs)
    return sum(total_costs)

month_nov(dates, costs)

[4944, 3701, 7037, 4274, 2004, 2822, 316]

25098

## Задача 4.2

Найдите выручку компании в зависимости от месяца  
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.  
Используйте аннотирование типов.

In [32]:
def total_costs(a: list, b: list) -> dict:
    
    total_months = {}
    
    for i in range(len(a)):
        
        if a[i].split('-')[1] in total_months.keys():
            total_months[a[i].split('-')[1]] += b[i]
        else:
            total_months[a[i].split('-')[1]] = b[i]
            
    return total_months

total_costs(dates, costs)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}